# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/LICENSE
/hrnet.onnx
/mobile224_2rknn.py
/dla2rknn.py
/nohup.out
/mobilenet_224_true_2.rknn
/resnet_512_true.rknn
/dlav0_true.rknn
/mobilenet_256.rknn
/res_new.onnx
/readme/
/models/
/mytools.py
/resnet_224_true_maxpool.rknn
/pytorch2rknn.py
/data/
/output/
/.gitignore
/NOTICE
/resnet_with_maxpool.pt
/dataset_5000.txt
/mobilenet_224_true_1.rknn
/hrnet.pt
/images/
/mobilenet_224_true.rknn
/exp/
/mobilenet_224.rknn
/resnet_512.pt
/cocoapi/
/mobilenet_256.pt
/mobilenet_256_false.rknn
/dlav0_true_1.3.rknn
/dataset.txt
/requirements.txt
/dlav0.onnx
/rknn-toolkit-V1.3.0/
/mobilenet_328_true.rknn
/preprocess.py
/mobilenet_512_true.rknn
/hrnet.py
/experiments/
/resnet_224_true.rknn
/README.md
/space_shuttle_512.jpg
/mobilenet_224_false.rknn
